@font-face {
  font-family: "JustMeAgainDownHere";
  src: url("/assets/fonts/JustMeAgainDownHere/JustMeAgainDownHere-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
