@import "tailwindcss";

.font-newsreader {
  font-family: "Newsreader", serif;
}
.font-ptmono {
  font-family: "PTMONO", monospace;
}
.geist {
  font-family: "Geist", sans-serif;
}
.justmeagaindownhere {
  font-family: "JustMeAgainDownHere", sans-serif;
}
.questrial {
  font-family: "Questrial" sans-serif;
}
/* globals.css */
html,
body {
  overflow-x: hidden;
}
